@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", serif;
    box-sizing: border-box;
    font-weight: 400px;
    color: var(--darkgreen);
}

:root {
    --black: #000;
    --white: #FFF;
    --green: #46c56c;
    --darkgreen: #217139;
    --lightgreen: #b5ffcb;
    --blue: #00aaad;
    --darkestgreen: #113e1e;
}

/* misc */
body { 
    padding: 0;
    margin: 0;
    background: var(--darkgreen);
}

.span-two {
    grid-column: span 2;
}

/* calculator */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px) minmax(120px, auto);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: var(--lightgreen);
}

.calculator-grid > button:hover {
    background-color: #46c56c;
    transition: 200ms;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--darkestgreen);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: var(--green);
    font-size: 1.5rem;
}
.output .current-operand {
    color: var(--lightgreen);
    font-size: 2.5rem;
}

